<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase List</title>
</head>
<body>
<a href="/?category=null">All</a>
<a href="/?category=Furniture">Furniture Purchases</a>
<a href="/?category=Alcohol">Alcohol Purchases</a>
<a href="/?category=Toiletries">Toiletry Purchases</a>
<a href="/?category=Shoes">Shoe Purchases</a>
<a href="/?category=Food">Food Purchases</a>
<a href="/?category=Jewelry">Jewelry Purchases</a>
<br>
<br>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>Email</b></td>
        <td><b>Category</b></td>
        <td><b>Credit Card</b></td>
        <td><b>CVV</b></td>
        <td><b>Date</b></td>
    <</tr>
    {{#purchaselist}}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{date}}</td>
    </tr>
    {{/purchaselist}}
</table>
</body>
</html>